/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ------- GENERAL -------- */

body
{
    font-family: 'Montserrat', sans-serif;

    background-color: black;
}

main .container-screen>.title
{
    margin-top: 100px;
    margin-bottom: 100px;

    position: relative;
}

main .container-screen>.title>h1
{
    color: white;

    font-size: 50px;

    opacity: 0;

    -webkit-transition: opacity 2s;

    -o-transition: opacity 2s;

    transition: opacity 2s;
    -webkit-transition-delay: 500ms;
         -o-transition-delay: 500ms;
            transition-delay: 500ms;

    text-align: center;

    position: relative;

    z-index: 2;
}

main .container-screen>.title>p
{
    color: white;

    text-align: center;

    margin-top: 20px;

    opacity: 0;

    -webkit-transition: opacity 2s;

    -o-transition: opacity 2s;

    transition: opacity 2s;
    -webkit-transition-delay: 1000ms;
         -o-transition-delay: 1000ms;
            transition-delay: 1000ms;

    position: relative;

    z-index: 2;
}

main .container-screen
{
    margin: 0 auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

main .container-screen .title>#containerImg
{
    height: 500px;

    overflow: hidden;

    opacity: 0;

    position: absolute;
    top: -50px;
    left: -300px;
}

main .container-screen .title>#containerImg>#photoAlexis
{
    width: 300px;
    height: 100%;

    z-index: 1;

    background-image: url(../img/photo.jpg);
    background-size: cover;
}

main .container-screen .title > #containerImg > #blur
{
    height: 500px;
    position: absolute;
    width: 65px;
    top: 0px;
    left: 300px;
    -webkit-box-shadow: -20px 0px 50px black;
            box-shadow: -20px 0px 50px black;
    opacity: 1 !important;
}








/* ------- MENU ------- */

main .container-screen #container-menu
{
    width: 400px;
    height: 105px;

    padding-top: 150px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    position: relative;

    opacity: 0;

    -webkit-transition: opacity 2s;

    -o-transition: opacity 2s;

    transition: opacity 2s;
    -webkit-transition-delay: 1500ms;
         -o-transition-delay: 1500ms;
            transition-delay: 1500ms;
}

main .container-screen #container-menu #btn-menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    border-radius: 50%;

    background-color: black;

    z-index: 3;

    cursor: pointer;
}

main .container-screen #container-menu #btn-menu>i
{
    color: white;

    font-size: 80px;

    border: 1px solid white;
    border-radius: 50%;

    padding: 10px;
}

main .container-screen #container-menu>#portfolio, main .container-screen #container-menu>#cv, main .container-screen #container-menu>#contact
{
    position: absolute;

    z-index: 2;

    height: 90px;
    width: 90px;

    border: 1px solid white;
    border-radius: 50%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    background-color: black;
}

main .container-screen #container-menu>#portfolio
{
    top: 154px;

    -webkit-transition: top 500ms, width 300ms, height 300ms;

    -o-transition: top 500ms, width 300ms, height 300ms;

    transition: top 500ms, width 300ms, height 300ms;

    cursor: pointer;
}

main .container-screen #container-menu>#portfolio>a, main .container-screen #container-menu>#cv>a, main .container-screen #container-menu>#contact>a
{
    text-decoration: none;

    color: black;
}

main .container-screen #container-menu>#cv
{
    left: 154px;

    -webkit-transition: left 500ms, width 300ms, height 300ms, -webkit-transform 500ms;

    transition: left 500ms, width 300ms, height 300ms, -webkit-transform 500ms;

    -o-transition: left 500ms, transform 500ms, width 300ms, height 300ms;

    transition: left 500ms, transform 500ms, width 300ms, height 300ms;

    transition: left 500ms, transform 500ms, width 300ms, height 300ms, -webkit-transform 500ms;
    -webkit-transition-delay: 300ms;
         -o-transition-delay: 300ms;
            transition-delay: 300ms;

    cursor: pointer;
}

main .container-screen #container-menu>#contact
{
    right: 154px;

    -webkit-transition: right 500ms, width 300ms, height 300ms, -webkit-transform 500ms;

    transition: right 500ms, width 300ms, height 300ms, -webkit-transform 500ms;

    -o-transition: right 500ms, transform 500ms, width 300ms, height 300ms;

    transition: right 500ms, transform 500ms, width 300ms, height 300ms;

    transition: right 500ms, transform 500ms, width 300ms, height 300ms, -webkit-transform 500ms;
    -webkit-transition-delay: 300ms;
         -o-transition-delay: 300ms;
            transition-delay: 300ms;

    cursor: pointer;
}

main .container-screen #container-menu>#portfolio>a>p, main .container-screen #container-menu>#cv>a>p, main .container-screen #container-menu>#contact>a>p
{
    background-color: white;
    background-position: center;

    border-radius: 50%;

    height: 75px;
    width: 75px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#borderPortfolio
{
    position: absolute;
    top: 92px;

    border: 1px solid white;

    opacity: 0%;

    -webkit-transition-delay: 300ms;

         -o-transition-delay: 300ms;

            transition-delay: 300ms;

    z-index: 1;

    height: 70px;
}

#borderCv
{
    position: absolute;
    left: 91px;
    width: 74px;

    border: 1px solid white;

    opacity: 0%;

    -webkit-transition-delay: 300ms;

         -o-transition-delay: 300ms;

            transition-delay: 300ms;

    z-index: 1;
}

#borderContact
{
    position: absolute;
    right: 91px;
    width: 74px;

    border: 1px solid white;

    opacity: 0%;

    -webkit-transition-delay: 300ms;

         -o-transition-delay: 300ms;

            transition-delay: 300ms;

    z-index: 1;
}







/* ------- MEDIA QUERIES ------- */

@media screen AND (max-width: 450px) {
    
    #borderContact{
        position: absolute;
        right: 100px;
        width: 70px;
        border: 1px solid white;
    }

    main .container-screen .title > #containerImg {
        height: 500px;
        overflow: hidden;
        opacity: 0;
        position: absolute;
        right: -250px;
        left: auto;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }

    main .container-screen .title > #containerImg > img
    {
        -webkit-user-select: none;
                user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    main .container-screen .title > #containerImg > #blur
    {
        height: 500px;
        position: absolute;
        width: 30px;
        top: -40px;
        left: -30px;
        -webkit-box-shadow: 36px 0px 50px black;
                box-shadow: 36px 0px 50px black;
        opacity: 1 !important;
    }
}