/* -------- GENERAL -------- */

body
{
    font-family: 'Montserrat', sans-serif;

    background-color: black;

    position: relative;

    overflow: hidden;
}




/* -------- MAIN -------- */

main>#header
{
    position: relative;
}

main #header #arrowLeft a .fa-arrow-left
{
    color: white;

    font-size: 30px;

    margin-top: 20px;
    margin-left: 20px;

    opacity: 0;

    transition: opacity 1s;
}

main>#header>h2
{
    color: white;

    font-size: 100px;

    margin-top: 100px;
    margin-left: 10px;

    opacity: 0;

    text-transform: uppercase;

    transition: opacity 1s, margin-left 1s;
}

main>#header>p
{
    color: white;

    font-size: 20px;

    text-align: end;

    margin-top: 150px;
    margin-right: 50px;

    line-height: 40px;

    opacity: 0;

    transition: opacity 1000ms, margin-right 1000ms;
}

main>#header>p>a
{
    color: white;
    
    text-decoration: underline white;
}

main #header #scrollDown
{
    display: flex;
    justify-content: center;
}

main #header #scrollDown>i
{
    color: white;

    font-size: 40px;

    position: absolute;
    bottom: 60px;

    animation: scrollDown 800ms ease-in-out 1500ms infinite alternate;

    opacity: 0;

    transition: opacity 1s;

    cursor: pointer;
}

@keyframes scrollDown {
    from {bottom: 60px}
    to {bottom: 50px}
}







/* -------- PORTFOLIO -------- */

main .descriptionPage
{
    position: relative;
}

main .container-portfolio
{
    background-color: black;
}




/* -------- SITE 1  */

main .descriptionPage .titreH2>#arrowUp
{
    display: flex;
    justify-content: center;

    opacity: 0;

    cursor: pointer;
}

main .descriptionPage .titreH2>#arrowUp>i
{
    font-size: 40px;

    margin-top: 10px;

    animation: scrollUp 800ms ease-in-out 1500ms infinite alternate;
}

@keyframes scrollUp {
    from {margin-top: 10px}
    to {margin-top: 20px}
}

main .container-portfolio .site-1>.titreH2
{
    height: 100px;

    color: white;

    position: relative;
}

main .container-portfolio .site-1>.titreH2>#bgTitleH2
{
    height: 50px;
    width: 0px;

    background-color: black;

    position: absolute;
    bottom: -17px;
}

main .container-portfolio .site-1 .titreH2>#titleSite1
{
    font-size: 50px;

    position: absolute;
    left: 0;
    bottom: 0;

    text-shadow: #D548EB 3px 3px;

    color: white;

    text-transform: uppercase;

    opacity: 0;
}

main .container-portfolio .site-1 .img-site
{
    width: 700px;
    height: 0;

    overflow: auto;

    scrollbar-color: #D548EB #342670;

    margin-left: 200px;
    margin-top: 50px;

    opacity: 0;

    border-bottom-left-radius: 20px;
}

main .container-portfolio .site-1 .img-site>#imgLoopStudio
{
    width: 100%;
}

main .container-portfolio .site-1 .img-site-responsive
{
    width: 350px;
    height: 0;

    overflow: auto;

    position: absolute;
    top: 180px;
    left: 850px;

    scrollbar-color: #D548EB #34267000;

    opacity: 0;

    border-bottom-left-radius: 20px;

    z-index: 2;
}

main .container-portfolio .site-1 .img-site-responsive>#imgLoopStudioResponsive
{
    width: 100%;
}

main .container-portfolio .site-1 >#lienGithubSite1
{
    position: absolute;
    bottom: 50px;
    right: -80px;

    font-size: 60px;

    z-index: 1;

    opacity: 0;

    cursor: pointer;
}

main .container-portfolio .site-1 >#lienGithubSite1>a
{
    text-decoration: none;

    color: black;
}

main .container-portfolio .site-1 >#lienGithubSite1>a>i
{
    background: white;

    line-height: 40px;
}






/* -------- MEDIA QUERIES -------- */

@media screen AND (max-width: 450px) {
    
    main > #header > h2 {
        color: white;
        font-size: 40px;
    }

    main > #header > p {
        color: white;
        font-size: 16px;
        text-align: center;
        margin-top: 150px;
        width: 370px;
    }
}