/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/




              

/* -------- GENERAL -------- */

body
{
    font-family: 'Montserrat', sans-serif;

    background-color: black;

    position: relative;

    overflow: hidden;
}



/* ------ ANIMATION ARROW */

.arrowUp
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: absolute;
    top: 10px;

    width: 100%;

    -webkit-animation: scrollUp 800ms ease-in-out 1500ms infinite alternate;

            animation: scrollUp 800ms ease-in-out 1500ms infinite alternate;
}

.arrowUp>i
{
    font-size: 30px;

    color: white;

    cursor: pointer;

    opacity: 1;
}

@-webkit-keyframes scrollUp {
    from {top: 20px}
    to {top: 25px}
}

@keyframes scrollUp {
    from {top: 20px}
    to {top: 25px}
}

.arrowDown2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: absolute;
    bottom: 10px;

    width: 100%;

    -webkit-animation: nextSite 800ms ease-in-out 1500ms infinite alternate;

            animation: nextSite 800ms ease-in-out 1500ms infinite alternate;
}

.fa-chevron-down
{
    font-size: 30px;

    color: white;

    cursor: pointer;

    opacity: 1;
}

@-webkit-keyframes nextSite {
    from {bottom: 20px}
    to {bottom: 25px}
}

@keyframes nextSite {
    from {bottom: 20px}
    to {bottom: 25px}
}















/* -------- MAIN -------- */

main>#header
{
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

main #header>#arrowLeft
{
    position: absolute;
    left: 0px;
}

main #header #arrowLeft a .fa-arrow-left
{
    color: white;

    font-size: 30px;

    margin-top: 20px;
    margin-left: 20px;

    opacity: 0;

    -webkit-transition: opacity 1s;

    -o-transition: opacity 1s;

    transition: opacity 1s;
}

main>#header>h2
{
    color: white;

    font-size: 100px;

    margin-top: 100px;
    margin-left: -500px;

    opacity: 0;

    text-transform: uppercase;

    -webkit-transition: opacity 1s, margin-left 1s;

    -o-transition: opacity 1s, margin-left 1s;

    transition: opacity 1s, margin-left 1s;
}

main>#header>p
{
    color: white;

    font-size: 20px;

    text-align: end;

    margin-top: 150px;
    margin-right: -900px;

    line-height: 40px;

    opacity: 0;

    -webkit-transition: opacity 1000ms, margin-right 1000ms;

    -o-transition: opacity 1000ms, margin-right 1000ms;

    transition: opacity 1000ms, margin-right 1000ms;
}

main>#header>p>a
{
    color: white;
    
    -webkit-text-decoration: underline white;
    
            text-decoration: underline white;
}

main #header>i
{
    color: white;

    font-size: 40px;

    position: absolute;
    bottom: 60px;

    -webkit-animation: scrollDown 800ms ease-in-out 1500ms infinite alternate;

            animation: scrollDown 800ms ease-in-out 1500ms infinite alternate;

    opacity: 0;

    -webkit-transition: opacity 1s;

    -o-transition: opacity 1s;

    transition: opacity 1s;

    cursor: pointer;
}

@-webkit-keyframes scrollDown {
    from {bottom: 60px}
    to {bottom: 50px}
}

@keyframes scrollDown {
    from {bottom: 60px}
    to {bottom: 50px}
}













/* -------- PORTFOLIO -------- */

main .descriptionPage
{
    position: relative;
}

main .container-portfolio
{
    background-color: black;
}
















/* -------- SITE 1  */



main .container-portfolio .site-1>.titreH2
{
    height: 100px;

    color: white;

    position: relative;
}

main .container-portfolio .site-1>.titreH2>#bgTitleH2
{
    height: 50px;
    width: 0px;

    background-color: black;

    position: absolute;
    bottom: -17px;
}

main .container-portfolio .site-1 .titreH2>#titleSite1
{
    font-size: 50px;

    position: absolute;
    left: 0;
    bottom: 0;

    text-shadow: #D548EB 3px 3px;

    color: white;

    text-transform: uppercase;

    opacity: 0;
}

main .container-portfolio .site-1 .img-site
{
    width: 700px;
    height: 0;

    overflow: auto;

    scrollbar-color: #D548EB #342670;

    margin-left: 200px;
    margin-top: 50px;

    opacity: 0;

    border-bottom-left-radius: 20px;

    position: relative;

    z-index: 2;
}

main .container-portfolio .site-1 .img-site>#imgLoopStudio
{
    width: 100%;
}

main .container-portfolio .site-1 .img-site-responsive
{
    width: 350px;
    height: 0;

    overflow: auto;

    position: absolute;
    top: 180px;
    left: 850px;

    scrollbar-color: #D548EB #34267000;

    opacity: 0;

    border-bottom-left-radius: 20px;

    z-index: 2;
}

main .container-portfolio .site-1 .img-site-responsive>#imgLoopStudioResponsive
{
    width: 100%;
}

main .container-portfolio .site-1 >#lienGithubSite1
{
    position: absolute;
    bottom: 50px;
    right: -80px;

    font-size: 60px;

    z-index: 1;

    opacity: 0;

    cursor: pointer;
}

main .container-portfolio .site-1 >#lienGithubSite1>a
{
    text-decoration: none;

    color: black;
}

main .container-portfolio .site-1 >#lienGithubSite1>a>i
{
    background: white;

    line-height: 40px;
}

















/* -------------------- SITE 2 ------------------- */

main .container-portfolio .site-2
{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    
    background: linear-gradient( 300deg , hsl(0, 80%, 86%), hsl(0deg 0% 90%));

    transition: opacity 800ms;

    overflow: hidden;

    opacity: 0;
}

main .container-portfolio .site-2>.containerImgSite2
{
    width: 900px;
    height: 590px;

    position: relative;
}

main .container-portfolio .site-2>#containerTitleSite2
{
    position: absolute;
    left: 0;
    top: 50px;
}

main .container-portfolio .site-2>#containerTitleSite2>#bgTitleSite2
{
    height: 50px;
    width: 0px;

    position: absolute;
    left: 0;
    top: 20px;

    background-color: white;

    transition: width 1000ms;
}

main .container-portfolio .site-2>#containerTitleSite2>#titleSite2
{
    font-size: 50px;

    text-shadow: #CE9797 3px 3px;

    color: white;

    text-transform: uppercase;

    opacity: 1;

    position: relative;

    z-index: 2;

    margin-left: 15px;

    width: 400px;

    position: absolute;
    left: -430px;

    transition: left 1500ms;
    transition-delay: 300ms;
}

main .container-portfolio .site-2>.containerImgSite2>#imgSite2Picture
{
    width: 50%;
    height: 100%;

    background-image: url(../img/site-2-photo.jpg);
    background-size: cover;

    position: absolute;
    right: -725px;

    transition: right 1000ms;
}

main .container-portfolio .site-2>.containerImgSite2>#imgSite2Top
{
    width: 50%;
    height: 50%;

    background-image: url(../img/site-2-top.jpg);
    background-size: 650px;
    background-position: -70px -25px;

    position: absolute;
    top: -420px;
    left: 0;

    transition: top 1000ms;
    transition-delay: 1000ms;
}

main .container-portfolio .site-2>.containerImgSite2>#imgSite2Bottom
{
    width: 50%;
    height: 50%;

    background-image: url(../img/site-2-bottom.jpg);
    background-size: 700px;
    background-position: -80px 0px;

    position: absolute;
    bottom: -425px;
    left: 0;

    transition: bottom 1000ms;
    transition-delay: 500ms;
}

main .container-portfolio .site-2>.containerImgSite2>.imgResponsiveSite2
{
    overflow: auto;

    height: 600px;
    width: 355px;

    margin: 0 auto;

    opacity: 0;
}

main .container-portfolio .site-2>.containerImgSite2>.imgResponsiveSite2>#imgSite2Responsive
{
    display: block;

    width: 340px;

    opacity: 0;

    display: none;

    transition: opacity 1000ms;
}

main .container-portfolio .site-2>#btnResponsiveSite2
{
    position: absolute;
    top: 59px;

    width: 190px;
    height: 35px;

    text-align: center;

    font-size: 13px;
    font-weight: 400;

    background-color: white;

    border: 1px solid #CE9797;
    border-radius: 10px;

    text-transform: uppercase;

    cursor: pointer;

    opacity: 0;

    letter-spacing: 6px;

    transition: opacity 1000ms;
}

main .container-portfolio .site-2 #lienGithubSite2
{
    position: absolute;
    bottom: 50px;
    left: -80px;

    font-size: 60px;

    z-index: 1;

    opacity: 0;

    cursor: pointer;

    transition: left 1000ms, opacity 10ms;
}

main .container-portfolio .site-2 #lienGithubSite2>a
{
    text-decoration: none;

    color: black;
}

main .container-portfolio .site-2 #lienGithubSite2>a>i
{
    background: white;

    line-height: 40px;
}


















/* --------------- SITE 3 ---------------- */

main .container-portfolio .site-3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .container-portfolio .site-3>p
{
    color: white;

    font-size: 50px;
}

main .container-portfolio .site-3>p>span
{
    opacity: 0;

    transition: opacity 1000ms;
}

main .container-portfolio .site-3>div:last-child>a>i
{
    color: white;

    font-size: 40px;

    margin-top: 100px;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  main .container-portfolio .site-3>p>#dot1
  {
     -webkit-animation: flickerAnimation 1s infinite;
     -moz-animation: flickerAnimation 1s infinite;
     -o-animation: flickerAnimation 1s infinite;
      animation: flickerAnimation 1s infinite;
  }

  main .container-portfolio .site-3>p>#dot2
  {
     -webkit-animation: flickerAnimation 1s infinite;
     -moz-animation: flickerAnimation 1s infinite;
     -o-animation: flickerAnimation 1s infinite;
      animation: flickerAnimation 1s infinite;
      animation-delay: 200ms;
  }

  main .container-portfolio .site-3>p>#dot3
  {
     -webkit-animation: flickerAnimation 1s infinite;
     -moz-animation: flickerAnimation 1s infinite;
     -o-animation: flickerAnimation 1s infinite;
      animation: flickerAnimation 1s infinite;
      animation-delay: 400ms;
  }

















/* -------- MEDIA QUERIES -------- */

@media screen AND (max-width: 450px) {

    main>#header
    {
        position: relative;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    main > #header > h2 {
        color: white;
        font-size: 40px;
        width: 222px;
        margin-left: -700px;
    }

    main > #header > p {
        color: white;
        font-size: 16px;
        text-align: center;
        margin-top: 150px;
        width: 370px;
    }

    main #header>#arrowLeft
    {
        position: absolute;
        left: 0px;
    }














    /* ------- SITE 1 */

    main .container-portfolio .site-1 .img-site {
        width: 300px;
        height: 0;
        overflow: auto;
        scrollbar-color: #D548EB #342670;
        margin-left: 20px;
        margin-top: 50px;
        opacity: 0;
        border-bottom-left-radius: 20px;
        position: relative;
    }

    main .container-portfolio .site-1 .img-site-responsive {
        width: 250px;
        height: 0;
        overflow: auto;
        position: absolute;
        top: 180px;
        left: 150px;
        scrollbar-color: #D548EB #34267000;
        opacity: 0;
        border-bottom-left-radius: 20px;
        z-index: 2;
    }

    main .container-portfolio .site-1 .titreH2 > #titleSite1 {
        font-size: 30px;
    }

    main .container-portfolio .site-1 > .titreH2 > #bgTitleH2 {
        height: 35px;
        width: 0px;
        background-color: black;
        position: absolute;
        bottom: -17px;
    }

    main .descriptionPage .titreH2 > #arrowUp > i {
        font-size: 30px;
        margin-top: 10px;
        -webkit-animation: scrollUp 800ms ease-in-out 1500ms infinite alternate;
                animation: scrollUp 800ms ease-in-out 1500ms infinite alternate;
    }

    main .container-portfolio .site-1 > #lienGithubSite1 {
        position: absolute;
        bottom: 15px;
        left: -60px;
        font-size: 60px;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        width: 53px;
    }

    main .container-portfolio .site-1 > .titreH2 {
        height: 85px;
        color: white;
        position: relative;
    }
}